/* src/components/DogCard.css */
.dog-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px 20px 40px; /* Add more left margin */
  text-align: center;
  width: 300px;  /* Set a fixed width */
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box; /* Ensure padding is included in the height */
}

.dog-card h3 {
  margin: 0;
  color: #333;
}

.dog-card img {
  width: 100%;
  height: 200px;  /* Set a fixed height for images */
  object-fit: cover;  /* Ensure images cover the area without distortion */
  border-radius: 10px;
  margin-bottom: 10px;
}

.dog-card p {
  color: #666;
  margin: 8px 0;
}

.dog-card button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  background-color: #5ce1e6;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  box-sizing: border-box; /* Ensure padding is included in the height */
}

.dog-card button:hover {
  background-color: lightgreen;
}

.dog-card .delete-button {
  background-color: #ff6666;
  margin-top: 8px;
}

.dog-card .delete-button:hover {
  background-color: #c0392b;
}

.dog-card .edit-button {
  background-color: #5ce1e6;
  margin-top: 8px;
}

.dog-card .edit-button:hover {
  background-color: darkcyan;
}
