/* src/components/Navbar.css */
header {
  background-color: grey;
  padding: 5px;
  text-align: center;
}

.logo {
  height: 150px; /* Adjust as needed */
  vertical-align: middle;
}

nav {
  display: inline-block;
  margin-left: 20px; /* Adjust as needed */
}

nav a {
  color: #5ce1e6;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

/* src/components/Navbar.css */
.logout-button {
  background-color: #ff6666;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  display: inline-block;
}

.logout-button:hover {
  background-color: #cc5252;
}
