/* src/components/ShelterCard.css */
.shelter-card {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.shelter-card h3 {
  margin: 0;
  color: black;
}

.shelter-card p {
  color: black;
  margin: 8px 0;
}

.shelter-card button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: grey;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
}

.shelter-card button:hover {
  background-color: lightblue;
}

.shelter-card .edit-button {
  background-color: cyan;
  margin-top: 0;
}

.shelter-card .delete-button {
  background-color: #ff6666;
  margin-top: 8px;
}
