/* src/components/ShelterCard.css */
.shelter-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 30px;
  margin: 31px;
  text-align: center;
  width: 250px; /* Ensures all cards are the same size */
  display: inline-block;
  background-color: #fff;
}

.shelter-card h3 {
  margin: 0;
  color: black;
}

.shelter-card p {
  color: grey;
  margin: 8px 0;
}

.shelter-card button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
}

.shelter-card button:hover {
  background-color: #c0392b;
}

.shelter-card .edit-button {
  background-color: #5ce1e6;
  margin-top: 0;
}

.shelter-card .edit-button:hover {
  background-color: darkcyan;
}

.shelter-card .delete-button {
  background-color: #ff6666;
  margin-top: 8px;
}

/* Flex container to align cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* This ensures the cards align to the left initially */
  gap: 20px; /* Space between cards */
  padding-left: 50px; /* Adjust this value to move cards to the right */
}
